<% if (locals.isLoggedIn) { %>
  <a class="linkButton" href="/posts/add"> Create a Post </a>
<% }%>

<section class="section">

<% for (const post of posts) { %>
  <%- include("./partials/post", { post }) %>
<% } %>

</section>

